<template>
  <q-page padding>
    <container>
      <q-list bordered separator>
        <q-item-label header>Posts</q-item-label>
        <q-separator />
        <q-item v-for="(item, index) in posts" :key="index" :to="{ name: 'Post', params: { id: item.id } }" clickable v-ripple>
          <q-item-section>{{item.title}}</q-item-section>
        </q-item>
      </q-list>
    </container>
  </q-page>
</template>

<script>
import {
  Loading,
  QSpinnerTail
} from 'quasar'
export default {
  async preFetch ({ store }) {
    Loading.show({
      backgroundColor: 'black',
      spinner: QSpinnerTail
    })
    await store.dispatch('post/getPosts').then(posts => {
      store.commit('post/setPosts', posts)
    })
    Loading.hide()
  },
  computed: {
    posts () {
      return this.$store.state.post.data
    }
  },
  meta () {
    return {
      // sets document title
      title: 'Posts',
      // optional; sets final title as "Index Page - My Website", useful for multiple level meta
      titleTemplate: title => `${title} - Quasar SSR`,

      // meta tags
      meta: {
        description: { name: 'description', content: 'Page 1' },
        keywords: { name: 'keywords', content: 'Quasar website' },
        equiv: { 'http-equiv': 'Content-Type', content: 'text/html; charset=UTF-8' },
        // note: for Open Graph type metadata you will need to use SSR, to ensure page is rendered by the server
        ogTitle: {
          name: 'og:title',
          // optional; similar to titleTemplate, but allows templating with other meta properties
          template (ogTitle) {
            return `${ogTitle} - Quasar SSR`
          }
        }
      }
    }
  }
}
</script>
