<template>
  <q-page padding>
    <container>
      <q-card square flat bordered>
        <q-card-section>
          <div class="text-h6">{{post.title}}</div>
          <div class="text-body">{{post.body}}</div>
          <div class="text-right">
            <q-btn color="primary" icon="keyboard_backspace" flat no-caps label="Go back to posts" @click="$router.go(-1)" />
          </div>
        </q-card-section>
      </q-card>
    </container>
  </q-page>
</template>

<script>
import {
  Loading,
  QSpinnerCube
} from 'quasar'
export default {
  async preFetch ({ store, currentRoute }) {
    Loading.show({
      backgroundColor: 'positive',
      spinner: QSpinnerCube
    })
    await store.dispatch('post/getPost', currentRoute.params.id).then(post => {
      store.commit('post/setPost', post)
    })
    Loading.hide()
  },
  computed: {
    post () {
      return this.$store.state.post.single
    }
  },
  meta () {
    return {
      // sets document title
      title: this.post.title,
      // optional; sets final title as "Index Page - My Website", useful for multiple level meta
      titleTemplate: title => `${title} - Quasar SSR`,

      // meta tags
      meta: {
        description: { name: this.post.body, content: this.post.title },
        keywords: { name: 'keywords', content: 'Quasar website' },
        equiv: { 'http-equiv': 'Content-Type', content: 'text/html; charset=UTF-8' },
        // note: for Open Graph type metadata you will need to use SSR, to ensure page is rendered by the server
        ogTitle: {
          name: 'og:title',
          // optional; similar to titleTemplate, but allows templating with other meta properties
          template (ogTitle) {
            return `${ogTitle} - Quasar SSR`
          }
        }
      }
    }
  }
}
</script>
