<template>
  <q-page class="flex flex-center">
    <container>
      <banner></banner>
    </container>
  </q-page>
</template>

<script>
export default {
  meta () {
    return {
      // sets document title
      title: 'Home',
      // optional; sets final title as "Index Page - My Website", useful for multiple level meta
      titleTemplate: title => `${title} - Quasar SSR`,

      // meta tags
      meta: {
        description: { name: 'description', content: 'Home' },
        keywords: { name: 'keywords', content: 'Quasar website' },
        equiv: { 'http-equiv': 'Content-Type', content: 'text/html; charset=UTF-8' },
        // note: for Open Graph type metadata you will need to use SSR, to ensure page is rendered by the server
        ogTitle: {
          name: 'og:title',
          // optional; similar to titleTemplate, but allows templating with other meta properties
          template (ogTitle) {
            return `${ogTitle} - Quasar SSR`
          }
        }
      }
    }
  }
}
</script>

<style lang="scss">
  a {
    text-decoration: none;
    color: $primary;
  }
</style>
