<template>
  <div class="banner">
    <div class="column no-wrap flex-center">
      <div style="z-index: 100" class="text-center">
        <template>
          <div class="q-mb-sm">
            <q-btn
              round
              color="black"
              padding="5px">
              <q-avatar size="180px">
                <img src="favicon.ico" />
              </q-avatar>
            </q-btn>
          </div>
        </template>
        <div class="q-mt-sm text-h4">Dipak Sarkar</div>
        <template>
          <div class="q-mt-sm q-gutter-sm">
            <a target="_blank" href="https://www.facebook.com/dipaksarkar.in">
              <q-btn color="black" padding="10px" icon="fab fa-facebook-f" size="sm" round outline />
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/dipaksarkar">
              <q-btn color="black" padding="10px" icon="fab fa-linkedin-in" size="sm" round outline />
            </a>
            <a target="_blank" href="https://github.com/dipaksarkar">
              <q-btn color="black" padding="10px" icon="fab fa-git" size="sm" round outline />
            </a>
            <a target="_blank" href="https://dipaksarkar.in">
              <q-btn color="black" padding="10px" icon="fab fa-skype" size="sm" round outline />
            </a>
          </div>
        </template>
        <template>
          <div class="q-mt-md">
            <a target="_blank" href="https://dipaksarkar.in">
              <q-btn color="black" size="md" label="Contact me" no-caps />
            </a>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>
