<template>
  <div :class="`row justify-center ${contentClass}`">
    <div class="container">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    contentClass: {
      required: false,
      type: String,
      default: 'bg-white text-black'
    }
  }
}
</script>

<style lang="sass">
.container
  max-width: 90vw
  width: 1040px

@media (max-width: $breakpoint-md-min)
  .container
    max-width: 70vw

@media (max-width: $breakpoint-sm-max)
  .container
    max-width: 90vw

@media (max-width: $breakpoint-sm-min)
  .container
    max-width: 90vw
</style>
