<template>
  <q-layout view="lHh Lpr lFf">
    <q-header>
      <container content-class="bg-primary">
        <q-toolbar>
          <q-toolbar-title>
            Quasar SSR
              <q-badge>
                v{{ $q.version }}
              </q-badge>
          </q-toolbar-title>
          <q-separator dark vertical />
          <q-btn stretch flat no-caps :to="{ name: 'Home' }" label="Home" />
          <q-separator dark vertical />
          <q-btn stretch flat no-caps :to="{ name: 'Posts' }" label="Posts" />
          <div></div>
        </q-toolbar>
      </container>
    </q-header>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  data () {
    return {
      //
    }
  }
}
</script>
